<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DogMatch</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <main>
    <div class="container" id="mainContent">
      <div class="logo">
        <span>DogMatch</span>
        <img src="static/images/paw-icon.png" alt="Paw Icon">
      </div>
      <img src="static/images/puppy-image.png" alt="Puppy" class="puppy">
      <div class="text">Простой сервис для подбора наиболее подходящей для вас породы собаки</div>
      <div class="subtext">Пройдите небольшой опрос о себе и получите персональные рекомендации!</div>
      <button class="btn" id="tryBtn">Попробовать</button>
    </div>

    <div id="questionForm" class="hidden">
      <div class="question-row">
        <div class="question-content">
          <h2 id="questionTitle">Вопрос 1</h2>
          <div class="answers" id="answersContainer"></div>
        </div>
        <div class="button-container">
          <button type="button" class="next-btn" id="nextBtn">Далее</button>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <img src="static/images/paw-icon.png" alt="Paw Icon">
  </footer>

  <script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>
</html>
